<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<title>CSR</title>

<style type="text/css">
body {
	background-image:
		url("https://4.bp.blogspot.com/-AXKeCguQaKU/WlJV-itxmkI/AAAAAAAANPI/V8J4QvAsTHceDT2hLE51e10dI-f8JRv6ACLcBGAs/s600/logo-bank-mandiri_237desain.jpg");
		background-size: cover;
		background-attachment: fixed;
}
</style>
</head>
<body>
	<div class="container">
		<div align="center">

			<header>
				<div class="bg-transparent">
					<div class="d-flex justify-content-around">
						<div class="p-2 bd-highlight">
							<img
								src="https://contattafiles.s3.us-west-1.amazonaws.com/tnt12212/TzYzqO_tSxjRxEN/Mandiri-Utama-Finance.png"
								alt="muf" width="170" height="95">
						</div>
						<div class="p-2 bd-highlight">
							<h1 class="font-weight-bold text-monospace text-dark"
								style="margin-top: 25px;">
								<span class="text-danger">CSR </span>List
							</h1>
						</div>
						<div class="p-2 bd-highlight">
							<a href="/new" class="btn btn-danger font-weight-bold"
								style="margin-top: 30px">Create New CSR</a>
						</div>
					</div>
				</div>
			</header>
<br/>
			<main>
				<div class="bg-primary">
					<table class="table" border="1" cellpadding="10">
						<thead class="thead-dark">
							<tr>
								<th scope="col">CSR ID</th>
								<th scope="col">CSR Name</th>
								<th scope="col">CSR Category</th>
								<th scope="col">CSR Location</th>
								<th scope="col">Plan Date</th>
								<th scope="col">Actions</th>
							</tr>
						</thead>
						<tbody>
							<tr class="table-dark" th:each="csr : ${listCSRx}">
								<td class="font-weight-bold text-dark" th:text="${csr.id}">CSR
									ID</td>
								<td class="font-weight-bold text-dark" th:text="${csr.name}">CSR
									Name</td>
								<td class="font-weight-bold text-dark" th:text="${csr.category}">CSR
									Category</td>
								<td class="font-weight-bold text-dark" th:text="${csr.location}">CSR
									Location</td>
								<td class="font-weight-bold text-dark" th:text="${csr.plandate}">Plan
									Date</td>

								<td><a th:href="@{'/edit/'+ ${csr.id}}"
									class="btn btn-dark">Edit</a> &nbsp;&nbsp;&nbsp; <a th:href="@{'/delete/' + ${csr.id}}" class="btn btn-danger" onclick="if(!(confirm('Are You Sure?')))return false">Delete</a></td>

							</tr>
						</tbody>
					</table>
				</div>
			</main>
			
<!-- 			<footer>
				<div class="card mb-3">
 					<img
						src="https://ormuliaorriza79.files.wordpress.com/2013/01/mandiri-jalan.gif"
						class="card-img-top" alt="mandiri" height="180">
				</div>
			</footer> -->

		</div>

		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
			integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
			crossorigin="anonymous"></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
			integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
			crossorigin="anonymous"></script>
		<script
			src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
			integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
			crossorigin="anonymous"></script>

	</div>
</body>
</html>